<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>food manager</title>
	<link rel="stylesheet" type="text/css" href="/resources/view.css">
</head>

<body>
	<div class="calendar">
		<table border="1">
			<tr>
				<th >日付</th><th>店</th><th>食べたもの</th><th>値段</th>
			</tr>
			{{range $index, $week := .Weekday}}
			{{if eq $week 1}}
				<tr>
					<td class="day"><span style="color:#ff0000;">{{index $.Day $index}}</span></td><td class="shop">{{index $.Shop $index}}</td><td class="food">{{index $.Food $index}}</td><td class="price">{{index $.Price $index}}円</td>
				</tr>
			{{else if eq $week 2}}
				<tr>
					<td class="day"><span style="color:#0000ff;">{{index $.Day $index}}</span></td><td class="shop">{{index $.Shop $index}}</td><td class="food">{{index $.Food $index}}</td><td class="price">{{index $.Price $index}}円</td>
				</tr>
			{{else}}
				<tr>
					<td class="day">{{index $.Day $index}}</td><td class="shop">{{index $.Shop $index}}</td><td class="food">{{index $.Food $index}}</td><td class="price">{{index $.Price $index}}円</td>
				</tr>
			{{end}}
			{{end}}
		</table>
	</div>
	<div class="gool">
		<form action="" method="POST">
			<p>月目標<input class="gool" type="number" name="monthgool" placeholder="{{.Gool}}">円<input type="submit" value="送信" ></p>
			<p>{{.Messege2}}</p>
			<p>{{.Messege3}}</p>
		</form>
	</div>

	<div class="form">
		<form action="" method="POST">
				<p class="timedate"><input class="move" type="submit" name="operation" value="&lt;">{{.Times.Year}}年{{.Times.Month}}月<input class="move" type="submit" name="operation" value="&gt;"></p>
		</form>

		<form action="" method="POST">
			{{if or (eq .Messegest.Date "登録") (eq .Messegest.Date "修正") }}
				<br>店&emsp;&emsp;&emsp;&emsp;<input type="text" name="shop">
				<br>食べたもの<input type="text" name="food">
				<br>値段&emsp;&emsp;&ensp;&ensp;<input type="number" name="price">円
				<div class="button"><br><input type="submit" value="{{.Messegest.Date}}"></div>
			{{else}}
				<p class="return"><input  type="submit" value="&ensp;現在の月に戻る&ensp;" name="operation"></p>
			{{end}}
			{{if eq  .Messegest.Err "警告"}}
					<p class="message"><span style="color:#ff0000;">{{.Messege}}</span></p>
			{{else}}
					<p class="message">{{.Messege}}</p>
			{{end}}
		</form>
	</div>
</body>
</html>